services:
  - type: web
    name: sistema-ugel-backend
    runtime: docker
    repo: https://github.com/hanjio30/SistemaUGEL_Actas_Backend
    dockerfilePath: ./Dockerfile
    envVars:
      - key: APP_NAME
        value: SistemaUGEL
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: DB_CONNECTION
        value: pgsql
      - key: SESSION_DRIVER
        value: file
      - key: CACHE_DRIVER
        value: file
      - key: QUEUE_CONNECTION
        value: sync